# Build directories
build/
protobufs/generated/

# Executables
*.exe
*.out
DKVSServer
DKVSClient

# Object files
*.o
*.obj

# Libraries
*.lib
*.dll
*.so
*.dylib
*.a

# IDE and editor files
.vscode/
.idea/
*.swp
*~
.DS_Store
